body {
	background-color: #c0c0c0;
}

/*Content*/
#content-container {
	max-width: 1000px;
}

/*Carousel*/
.carousel {
	margin-top: 25px;
}

.carousel-control {
	width: 5%;
	font-size: 30px;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

.carousel-indicators {
	bottom: -30px;
}

/*Info*/
#info {
	margin-top: 50px;
}

.info-content {
	padding: 15px 0;
	border-radius: 7px;
}

.info-content h2 {
	margin-top: 0;
	text-align: center;
	font-family: "Vevey";
	font-size: 40px;
}

.info-content p {
	margin: 0 10px;
}

.info-content .info-button {
	width: 50%;
	margin: 15px auto 0 auto;
	font-family: "Novecento Sans Wide Light";
}

.info-content .info-button button {
	width: 100%;
	background-color: #707070;
	border-color: #808080;
}

#info-1 .info-content {
	background-color: rgb(203,187,155);
}

#info-2 .info-content {
	background-color: rgb(178,174,154);
}

#info-3 .info-content {
	background-color: rgb(218,213,193);
}

/*Footer*/
#footer {
	width: 100%;
	margin-top: 75px;
	background-color: #404040;
}

#copyright p {
	margin: 5px 0;
	text-align: center;
	color: #c0c0c0;
	font-size: 10px;
}

/*Custom Media Queries*/
@media(max-width:1024px){
	
}

@media(max-width:767px){
	
}

@media(max-width:480px){
	
}

@media(max-width:600px){
	
}

@media(min-width:768px) and (max-width:991px){
	
}

@media(min-width:992px) and (max-width:1199px){

}

@media(min-width:1200px){

}