body {
	padding-top: 25px;
	background-image: url('../img/backgrounds/concrete2.jpg');
	background-size: cover;
}

/*Content*/
#content-container {
	padding: 35px;
	background-color: rgba(256,256,256,0.75);
	border-radius: 7px;
}

/*Contact Header*/
#contact-header {
	text-align: right;
}

#contact-header button {
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
	background-color: #3e3e40;
	border-color: #404040;
	font-family: "Novecento Sans Wide Light";
}

#contact-header button:hover {
	background-color: #303030;
}

/*Carousel*/
.carousel {
	margin-top: 5px;
}

.carousel-inner {
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

.carousel-control {
	display: none;
	/*width: 5%;
	font-size: 30px;*/
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

.carousel-indicators {
	bottom: -30px;
}

.carousel-indicators .active {
	background-color: rgba(256,256,256,0.5);
}

/*Info*/
#info {
	margin-top: 50px;
}

.info-content {
	padding: 15px 0;
	border-radius: 7px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.50);
}

.info-content h2 {
	margin-top: 0;
	text-align: center;
	font-family: "Vevey";
	font-size: 40px;
}

.info-content p {
	margin: 0 10px;
}

.info-content .info-button {
	width: 50%;
	margin: 15px auto 0 auto;
	font-family: "Novecento Sans Wide Light";
}

.info-content .info-button button {
	width: 100%;
	background-color: #3e3e40;
	border-color: #404040;
}

.info-content .info-button button:hover {
	background-color: #303030;
}

#info-1 .info-content {
	background-color: rgb(203,187,155);
	border: 2px solid rgb(200, 180, 150);
}

#info-2 .info-content {
	background-color: rgb(178,174,154);
	border: 2px solid rgb(170, 170, 150);
}

#info-3 .info-content {
	background-color: rgb(218,213,193);
	border: 2px solid rgb(210, 210, 190);
}

/*Footer*/
#footer {
	width: 100%;
	margin-top: 75px;
	background-color: #404040;
}

#copyright p {
	margin: 5px 0;
	text-align: center;
	color: #c0c0c0;
	font-size: 10px;
}

/*---Contact Form---*/

#contact .modal-footer {
	padding: 0;
	border: none;
}

#contact-buttons {
	float: left;
}

#submit-status {
	line-height: 34px;
}

#submit-status .alert-success {
border-color: #7ec97f;
}

#submit-status .alert-danger {
border-color: #dd9a98;
}

/*Custom Media Queries*/
@media(max-width:1024px){
	
}

@media(max-width:767px){
	
}

@media(max-width:480px){
	
}

@media(max-width:600px){
	
}

@media(min-width:768px) and (max-width:991px){
	
}

@media(min-width:992px) and (max-width:1199px){

}

@media(min-width:1200px){

}