/*Novecento Sans Wide Light*/

@font-face {
    font-family: 'Novecento Sans Wide Light';
    src: url('novecento-sans-wide-light.eot');
    src: url('novecento-sans-wide-light.eot?#iefix') format('embedded-opentype'),
         url('novecento-sans-wide-light.woff') format('woff'),
         url('novecento-sans-wide-light.ttf') format('truetype'),
         url('novecento-sans-wide-light.svg#novecento_sans_widelight') format('svg');
    font-weight: normal;
    font-style: normal;

}